<div class="row">
    <div class="col-lg-11">
    <h1 id="explab">Educación</h1>
    </div>
    <!-- lo que esta debajo es una lista de boostrap -->
    <div class="list-group" id="lista">
        <a id="estudios" class="list-group-item list-group-item-action active" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Estudio 1</h5>
            <small>alguna info que puede ser útil?</small>
          </div>
          <p class="mb-1">Años</p>
          <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae mollitia, accusamus earum maiores nostrum voluptates autem, animi dolore illum asperiores eveniet. Sint, impedit magni doloremque soluta voluptates enim neque dolor?</small>
        </a>
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Estudio 2</h5>
            <small class="text-muted">alguna info que puede ser útil?</small>
          </div>
          <p class="mb-1">Años</p>
          <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste et ex sunt incidunt nisi nihil dolore maiores error dolores voluptas nostrum veniam in sapiente, dolor modi, deserunt aut sint ullam.</small>
        </a>
        <a  class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Estudio 3</h5>
            <small class="text-muted">alguna info que puede ser útil?</small>
          </div>
          <p class="mb-1">Años</p>
          <small class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, suscipit in corporis mollitia, commodi illum quasi blanditiis nobis delectus incidunt autem aut atque aperiam ipsa est quas vero cumque ratione?</small>
        </a>
      </div>

</div>



<div id="separador">    </div>

    