#estudios{
    background-color: #504856 !important;
}

#explab{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 20px;
    text-align: left;
}

#lista {
    margin-top: 40px;
    margin-left: 3%;
}

#separador {
    background-color: #1d181e;
    height:5px;
    margin-top: 2%;
}



