<div class="row">
    <div class="col-lg-11">
    <h1 id="explab">Hard & soft skills</h1>
    </div>
    
<!-- todo lo de abajo son los progress circles / para agregar un icnono de fontawesome hay que agregar todo lo mismo en app.components.ts y en el .ts y el .html del componente donde lo quieras usar-->

<div class="row d-flex justify-content-center mt-80">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">


        
        <div class="progress blue">
          <span class="progress-left">
                            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
                            <span class="progress-bar"></span>
          </span>
          
          <div class="progress-value"> <fa-icon [icon]="faGithub"></fa-icon>  40%</div>
        </div>

        
          <div class="progress yellow">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><fa-icon [icon]="faHtml5"></fa-icon> 70%</div>
          </div>

        <div class="progress blue">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><fa-icon [icon]="faCss3"></fa-icon> 90%</div>
        </div>
        <div class="progress blue">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><fa-icon [icon]="faJs"></fa-icon> 90%</div>
          </div>

          
            <div class="progress yellow">
              <span class="progress-left">
                              <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                              <span class="progress-bar"></span>
              </span>
              <div class="progress-value"><fa-icon [icon]="faAngular"></fa-icon> 70%</div>
            </div>

          <div class="progress blue">
              <span class="progress-left">
                                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                                <span class="progress-bar"></span>
              </span>
              <div class="progress-value"><fa-icon [icon]="faJava"></fa-icon> 90%</div>
          </div>


       
    </div>
   
</div>
